VITE_API_URL=http://localhost:3000/api/v1
VITE_APP_NAME=School Management SaaS

# Firebase Client Config
VITE_FIREBASE_API_KEY=AIzaSyC9d428lrunbyTLR3D6hdNIBik18rKMEcc
VITE_FIREBASE_AUTH_DOMAIN=school-management-1f070.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=school-management-1f070
VITE_FIREBASE_STORAGE_BUCKET=school-management-1f070.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=796694528480
VITE_FIREBASE_APP_ID=1:796694528480:web:e7213415ddbc116cdbeb85
VITE_FIREBASE_MEASUREMENT_ID=G-M9KDJLCY68
